*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
    color: white;
}
.header{
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.950);
    font-size: 18px;
    font-family: Montserrat;
    text-transform: capitalize;
    padding: 40px;
}
.header ul li{
    list-style: none;
}
.header ul li a{
    text-decoration: none;
    color: white;
    transition: color .40s ease;
    font-weight: 600;
}
.header li a:hover{
    color: aqua;
    text-decoration: underline aqua;
}
.nav .links li{
    display: inline-block;
    text-decoration: none;
}
.logo{
    width: 60px;
    height: 60px;
    float: left;
    padding-bottom: 40px;
}
.links{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
body{
    height: calc(100%vh - 200px);
    width: 100%;
    background-image: url("../multimedia/gaming-computer-gfd8bc5090_1920.jpg");
    background-size: cover;
    background-position: center;
}
.imagen1{
    margin: 10px;
    padding: 20px;
}
.call1{
    width: 50%;
    float: right;
    background-color: rgba(0, 0, 0, 0.850);
    border: 2px solid rgba(0, 255, 255, 0.850);
    padding: 30px;
    margin: 80px;
    box-shadow: inset 0 0 5px rgba(0, 255, 255, 0.850);
}
.imagen2{
    margin: 10px;
    padding: 20px;
}
.call2{
    width: 50%;
    float: left;
    background-color: rgba(0, 0, 0, 0.850);
    border: 2px solid rgba(0, 255, 255, 0.850);
    padding: 30px;
    margin: 80px;
    box-shadow: inset 0 0 5px rgba(0, 255, 255, 0.850);
}
.videoNvidia{
    margin: 10px;
    padding: 20px;
}
.tituloGaming{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 20px;
}
.imagenLol{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
iframe{
    padding-top: 30px;
}
.formulario form{
    width: 50%;
    margin: 0 auto;
    color: black;
}
footer{
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.950);
    font-family: Montserrat;
    padding-top: 50px;
    padding-bottom: 0;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    font-size: 16px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .40s ease;
}
.socials a:hover i{
    color: aqua;
}