* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  background-color: #463f3a;
  box-shadow: inset 0 0 7px #c6ac8f;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo a:hover {
  color: white;
}

.logo-nombre {
  font-size: 26px;
}

.logo .logo-nombre2 {
  display: flex;
  padding-left: 20px;
  font-size: 26px;
}

.logo img {
  height: 70px;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.4s ease;
}

nav {
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .links {
  font-size: 18px;
  word-spacing: 70px;
  font-weight: 500;
  cursor: default;
  display: inline;
  align-items: center;
  justify-content: center;
}

nav .links li {
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  color: #c6ac8f;
}

body {
  background-color: #bcb8b1;
}

.TextoHomeImagen {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.homeImagen {
  height: 800%;
  max-width: 80%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
}

.conteinerBarra {
  height: 50px;
  width: 100%;
  background-color: #463f3a;
  box-shadow: inset 0 0 7px #c6ac8f;
}

.conteiner2 h2 {
  display: flex;
  justify-content: flex-start;
  padding-left: 320px;
  padding-top: 30px;
  font-weight: 700;
}

.conteiner2 p {
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-top: 40px;
  margin-left: 30px;
}

.homeImagenDos {
  max-height: calc(80vh - 100px);
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 60px;
  float: right;
  border-radius: 20%;
}

.conteinerBarraDos {
  height: 50px;
  width: 100%;
  background-color: #463f3a;
  box-shadow: inset 0 0 7px #c6ac8f;
  opacity: 100;
  padding-top: 30px;
}

.interiorismo {
  display: flex;
}

.interiorismoTitulo {
  display: flex;
  justify-content: flex-start;
  padding-left: 320px;
  padding-top: 30px;
  font-weight: 700;
  padding-bottom: 30px;
}

.interiorismo {
  display: flex;
}

.nleft {
  width: 45%;
  background-image: url(./Multimedia/interiorismo-barcelona-molins-1000x667.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 40px;
  border-radius: 20%;
  margin-bottom: 30px;
}

.nright {
  height: 450px;
  width: 50%;
  padding: 30px;
}

.nright p {
  font-size: 30px;
  padding-left: 40px;
  text-align: center;
}

.p2 {
  padding-top: 20px;
}

footer {
  width: 100%;
  background-color: #463f3a;
  height: 200px;
  text-align: center;
}

footer .footer-content h3 {
  color: white;
  padding-top: 20px;
  padding-left: 10px;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}

footer .footer-content p {
  color: aliceblue;
  padding-top: 10px;
}

.redes {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding-top: 10px;
  margin: 1rem 0 3rem 0;
}

ul li {
  margin: 0 10px;
}

.redes a {
  text-decoration: none;
  color: white;
}

.redes a i {
  font-size: 1.5rem;
  transition: color 0.4s ease;
}

.redes a:hover i {
  color: #c6ac8f;
}

.carousel-item {
  max-height: calc(100vh - 20px);
}

.carousel-item img {
  width: 100%;
  margin: 0 auto;
}

.cont {
  font-family: "roboto", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cont2 {
  display: flex;
  justify-content: flex-start;
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 60px;
}
.cont2 li {
  list-style: none;
  display: inline;
  font-size: 30px;
  padding-left: 60px;
}
.cont2 a:hover {
  color: black;
}

h5 {
  color: black;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  nav {
    padding: 10px 0px;
  }
  h2 {
    align-self: center;
    padding-right: 80px;
  }
  .logo-img {
    padding-top: 8px;
  }
  .conteiner2 h2 {
    display: flex;
    text-align: center;
    justify-content: flex-start;
  }
  .conteiner2 p {
    display: inline-block;
    justify-content: center;
    font-size: 22px;
  }
  .interiorismo p {
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
  footer {
    width: 100%;
    background-color: #463f3a;
    height: 300px;
    text-align: center;
  }
  .footer-content {
    padding-top: 60px;
    font-size: 22px;
  }
  .cont2 li {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
